---
# ====================================
# debug queue, for testing purposes
# ====================================
- Name: debug
  AllocationStrategy: lowest-price
  ComputeResources:
    - Name: t3micro
      Instances:
        - InstanceType: t3.micro
      MinCount: 0
      MaxCount: 8
  Networking:
    SubnetIds: [!config base_subnet_id]
    SecurityGroups:
      - !config base_security_group_id
  # Iam:
  #   S3Access:
  #     - BucketName: sboinfrastructureassets-sandbox
  # CustomActions:
  #   OnNodeConfigured:
  #     Sequence:
  #       - Script: s3://sboinfrastructureassets-sandbox/scripts/create_users.py
  #         Args:
  #           - /sbo/home/resources/users.json
  #       - Script: s3://sboinfrastructureassets-sandbox/scripts/setup_environment_compute.sh
  CustomSlurmSettings:
    MaxNodes: 8
    MaxTime: 1-00:00:00

# ========================================
# prod-mpi queue, for tightly coupled jobs
# ========================================
- Name: prod-mpi
  AllocationStrategy: lowest-price  # usually spot
  ComputeResources:
    - Name: cpu-c7a
      Instances:
        - InstanceType: c7a.48xlarge  # compute optimized nodes
      MinCount: 0
      MaxCount: 20  # least number of nodes needed to simulate the full O1 circuit x2
      Efa:  # low-latency, high BW network
        Enabled: true  # https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/efa-start.html#efa-start-security
    - Name: nvme
      Instances:
        - InstanceType: c5d.24xlarge  # provides additionally nvme support
      MinCount: 0
      MaxCount: 2  # upper limit for functionalizer use-case defined in cost estimation sheet
      Efa:
        Enabled: false
  Networking:
    PlacementGroup:  # try to place nodes close to each other
      Enabled: true
    SubnetIds: [!config base_subnet_id]
    SecurityGroups:
      - !config base_security_group_id
    # - sg-06556c57796520f86  # Efa
  CustomSlurmSettings:
    MaxNodes: 20
    MaxTime: 720
  Iam:
    S3Access:
      - BucketName: sboinfrastructureassets-sandbox
  # CustomActions:
  #   OnNodeConfigured:
  #     Sequence:
  #       - Script: s3://sboinfrastructureassets-sandbox/scripts/create_users.py
  #         Args:
  #           - /sbo/home/resources/users.json
  #       - Script: s3://sboinfrastructureassets-sandbox/scripts/setup_environment_compute.sh

# ====================================
# prod-batch queue, for benchmarking
# ====================================
- Name: prod-batch
  AllocationStrategy: lowest-price
  ComputeResources:
    - Name: cpu
      Instances:
        - InstanceType: m5.8xlarge  # general purpose nodes
      MinCount: 0
      MaxCount: 16  # upper limit for largest PoC case defined in cost estimation sheet
      Efa:  # low-latency, high BW network
        Enabled: false  # enable after security groups have been updated
                      # https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/efa-start.html#efa-start-security
    - Name: cpu-c7a
      Instances:
        - InstanceType: c7a.48xlarge  # general purpose nodes
      MinCount: 0
      MaxCount: 10  # upper limit for largest PoC case defined in cost estimation sheet
      Efa:  # low-latency, high BW network
        Enabled: false  # enable after security groups have been updated
                      # https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/efa-start.html#efa-start-security
  Networking:
    PlacementGroup:  # try to place nodes close to each other
      Enabled: false
    SubnetIds: [!config base_subnet_id]
    SecurityGroups: [!config base_security_group_id]
  CustomSlurmSettings:
    MaxNodes: 4
    MaxTime: 120
  Iam:
    S3Access:
      - BucketName: sboinfrastructureassets-sandbox
  # CustomActions:
  #   OnNodeConfigured:
  #     Sequence:
  #       - Script: s3://sboinfrastructureassets-sandbox/scripts/create_users.py
  #         Args:
  #           - /sbo/home/resources/users.json
  #       - Script: s3://sboinfrastructureassets-sandbox/scripts/setup_environment_compute.sh

# ==========================================
# prod-hpc16x queue, for HPC jobs (64 vCPUs)
# ==========================================
- Name: prod-hpc16x
  AllocationStrategy: lowest-price
  ComputeResources:
    - Name: cpu-hpc7g
      Instances:
        - InstanceType: hpc7g.16xlarge  # HPC compute nodes
      MinCount: 0
      MaxCount: 20  # temporary, may need to be increased to simulate larger circuits
      Efa:  # low-latency, high BW network
        Enabled: true  # https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/efa-start.html#efa-start-security
  Networking:
    PlacementGroup:  # try to place nodes close to each other
      Enabled: true
    SubnetIds: [!config base_subnet_id]
    SecurityGroups:
      - !config base_security_group_id
    # - sg-06556c57796520f86  # Efa
  CustomSlurmSettings:
    MaxNodes: 20
    MaxTime: 720
  Iam:
    S3Access:
      - BucketName: sboinfrastructureassets-sandbox
