---
name: Test HPC Resource Provisioner
on: pull_request
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: clone repo
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip3 install -e 'hpc_provisioner[test]'
      - name: Run tests
        run: |-
          source venv/bin/activate
          pytest hpc_provisioner
      - name: Code Coverage Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage.xml
          badge: true
          fail_below_min: true
          format: markdown
          thresholds: '80 95'
          output: both
      - name: Code Coverage as PR comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request'
        with:
          recreate: true
          path: code-coverage-results.md

